@inherits LayoutComponentBase
@inject IAuthService AuthService 
    
<div>
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="d-flex flex-column align-items-stretch">
                <nav class="navbar navbar-expand-lg navbar-dark bg-secondary w-100 mt-4 mb-2">
                    <a class="navbar-brand" href="">AnyTest</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav mr-auto w-100">
                            <AuthorizeView Roles="Administrator">
                                <Authorized>
                                    <li class="nav-item">
                                        <NavLink class="nav-link" href="users">@Localizer[nameof(Resources.Users)]</NavLink>
                                    </li>
                                </Authorized>
                            </AuthorizeView>
                            <AuthorizeView Roles="Tutor">
                                <Authorized>
                                    <li class="nav-item">
                                        <NavLink class="nav-link" href="tutor">@Localizer[nameof(Resources.Courses)]</NavLink>
                                    </li>
                                </Authorized>
                            </AuthorizeView>
                        </ul>
                        <AuthorizeView>
                            <Authorized>
                                <a href="" class="text-white mr-4">@context.User.Identity.Name</a>
                                <button class="btn btn-light" @onclick="Logout">
                                    @Localizer[nameof(Resources.Logout)]
                                </button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </nav>
                <main class="flex-grow-1 d-flex flex-row justify-content-center">
                    <AuthorizeView>
                        <Authorized>
                            <CascadingValue Value="@context.User.Identity.Name" Name="UserName">
                                <div class="main-panel">
                                    @Body
                                </div>
                            </CascadingValue>
                        </Authorized>
                        <NotAuthorized>
                            <Login />
                        </NotAuthorized>
                    </AuthorizeView>
                </main>
            </div>
        </div>
    </div>
</div>

@code
{
    private void Logout()
    {
        State.ResetPerson();
        AuthService.Logout();
    }
}
