<div>
    <div class="card m-5 flex-grow-1">
        <h3 class="card-header">
            @Localizer[nameof(Resources.UserInfo)]
        </h3>
        <div class="card-body">
            <div class="card-title">
                @Localizer[nameof(Resources.LookOrChangePersonalInfo)]
            </div>
            <div class="container">
                @if (editing)
                {
                <EditForm Model="@EditPerson" OnValidSubmit="SavePerson">
                    <DataAnnotationsValidator />
                    <div class="form-group row">
                        <div class="col-lg-2 d-flex flex-column justify-content-lg-end align-content-start align-content-lg-end">
                            <label for="firstname" class="col-form-label text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.FirstName)]:</label>
                        </div>
                        <div class="col-lg-10 d-flex flex-column px-0">
                            <ValidationMessage For="@(()=>EditPerson.FirstName)" />
                            <InputText Id="firstname" Class="form-control" @bind-Value="EditPerson.FirstName" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2 d-flex flex-column justify-content-lg-end align-content-start align-content-lg-end">
                            <label for="familyname" class="col-form-label text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.FamilyName)]:</label>
                        </div>
                        <div class="col-lg-10 d-flex flex-column px-0">
                            <ValidationMessage For="@(()=>EditPerson.FamilyName)" />
                            <InputText Id="familyname" Class="form-control" @bind-Value="EditPerson.FamilyName" />
                        </div>
                    </div>
                    <div class="form-grop row">
                        <label for="patronimic" class="col-lg-2 col-form-label text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.Patronimic)]:</label>
                        <InputText Id="patronimic" Class="form-control col-lg-10" @bind-Value="EditPerson.Partronimic" />
                    </div>
                    <div class="form-grop row mt-3">
                        <label for="phone" class="col-lg-2 col-form-label text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.Phone)]:</label>
                        <InputText Id="phone" Class="form-control col-lg-10" @bind-Value="EditPerson.Phone" />
                    </div>
                    <div class="form-grop row mt-3">
                        <div class="col-lg-2 d-flex flex-column justify-content-lg-end align-content-start align-content-lg-end">
                            <label for="familyname" class="col-form-label text-left text-lg-right font-weight-bold">e-mail:</label>
                        </div>
                        <div class="col-lg-10 d-flex flex-column px-0">
                            <ValidationMessage For="@(()=>EditPerson.Email)" />
                            <InputText Id="familyname" Class="form-control" @bind-Value="EditPerson.Email" />
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <button type="submit" class="btn btn-primary">@Localizer[nameof(Resources.Save)]</button>
                        <button type="button" class="btn btn-danger" @onclick="CancelEdit">@Localizer[nameof(Resources.Cancel)]</button>
                    </div>
                </EditForm>
                }
                else
                {
                    <div class="container">
                        <div class="row">
                            <label class="col-lg-2 text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.FirstName)]:</label>
                            <label class="col-lg-10">@(State?.Person?.FirstName ?? "Loading...")</label>
                        </div>
                        <div class="row">
                            <label class="col-lg-2 text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.FamilyName)]:</label>
                            <label class="col-lg-10">@(State?.Person?.FamilyName ?? "Loading...")</label>
                        </div>
                        <div class="row">
                            <label class="col-lg-2 text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.Patronimic)]:</label>
                            <label class="col-lg-10">@(State?.Person?.Partronimic ?? "")</label>
                        </div>
                        <div class="row">
                            <label class="col-lg-2 text-left text-lg-right font-weight-bold">@Localizer[nameof(Resources.Phone)]:</label>
                            <label class="col-lg-10">@(State?.Person?.Phone ?? "")</label>
                        </div>
                        <div class="row">
                            <label class="col-lg-2 text-left text-lg-right font-weight-bold">e-mail:</label>
                            <label class="col-lg-10">@(State?.Person?.Email ?? "Loading...")</label>
                        </div>
                        <div class="d-flex flex-lg-row justify-content-end">
                            <button class="btn btn-link" @onclick="EditModeOn">@Localizer[nameof(Resources.Edit)]</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@code
{
    private Model.Person EditPerson { get; set; } = new Model.Person();

    private bool editing = false;

    private void EditModeOn()
    {
        editing = true;
        EditPerson = State.GetCopyOfPerson();
    }

    private async Task SavePerson()
    {
        editing = false;
    }

    private void CancelEdit()
    {
        editing = false;
    }
}
