<div class="d-flex flex-row h-100">
    <div class="sidebar @(isHidden?"hidden":"") pr-2 @Class" style="@Style">
        <button class="sidebar-button w-100 mb-2 @ToggleButtonClass" @onclick="()=>isHidden = !isHidden"><i class="fa fa-bars"></i></button>
        <div class="sidebar-content h-100 bg-white">
            @SidebarContent
        </div>
    </div>
    <div class="pl-2 flex-grow-1">
        @MainContent
    </div>
</div>

<style>
    .sidebar .sidebar-content {
        width: @($"{Width}rem");
        transition: width .25s ease-out;
        overflow-x: hidden;
    }

    .sidebar.hidden .sidebar-content {
        width: @($"{Width}rem");
    }

    .sidebar .sidebar-button {
        display: none;
    }

    @@media(max-width: 992px) {
        .sidebar.hidden .sidebar-content {
            width: 0;
        }

        .sidebar .sidebar-button {
            display: block;
        }
    }
</style>

@code
{
    private bool isHidden = true;

    [Parameter]
    public RenderFragment SidebarContent { get; set; }

    [Parameter]
    public RenderFragment MainContent { get; set; }

    [Parameter]
    public string ToggleButtonClass { get; set; } = "btn btn-success";

    [Parameter]
    public int Width { get; set; } = 15;

    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Style { get; set; }
}
